*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
}

.main-container{
    overflow: visible;
    width: 775px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.ariticle-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 900px;
    height: 300px;
    border-radius: 12px;
}

.bg-card {
    background-image: url(../images/drawers.jpg);
    background-repeat: no-repeat;
    width: 105%;
    background-size: 379px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; 
}

.article{
    padding: 30px 40px;
    font-family: 'Manrope', sans-serif;
}
.article .article-title{
    font-size: 23px;
    font-weight: 500;
    color: hsl(217, 19%, 35%);
    line-height: 1.5;
}

.article .article-decp{
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    margin-top: 15px;
    line-height: 1.5;
    padding-right: 30px;
}

.article-flex{
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px
}

.article-flex .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.article-flex .profile-card{
    margin-left: 20px;
}

.article-flex .profile-card h1{
    font-size: 13px;
    color: hsl(217, 19%, 35%);
}

.article-flex .profile-card p{
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    margin-top: 5px;
}

.article-flex .profile-nav{
    position: relative;
    display: inline-block;
    background-color: hsl(210, 46%, 95%);
    background-image: url(../images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 42%;
    margin-top: 3px;
}

.article-flex .profile-nav .tooltiptext{
    visibility: hidden;
    width: 270px;
    height: 52px;
    background-color: rgb(72, 85, 106);
    box-shadow:  0 10px 30px -5px rgba(178, 177, 187, 0.97);
    color: hsl(212, 23%, 69%);
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 169%;
    left: 50%;
    margin-left: -134px;
}

.article-flex .profile-nav .tooltiptext{
    display: grid;
    grid-template-columns: 73px 51px 40px 30px;
    padding: 17px 48px;
}

.article-flex .profile-nav .tooltiptext h1{
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
}

.article-flex .profile-nav .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 12px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.article-flex .profile-nav:hover .tooltiptext{
    visibility: visible;
}

